@import 'tailwindcss';
:root {
  --color-main: var(--color-blue-500);
}
.shiny-sec {
    background: linear-gradient(135deg, var(--color-main) 25%, #eee5ff 50%, var(--color-main) 75%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 3s linear infinite;
}
@keyframes shine {
  0% {
    background-position: 100% 50%;
  }
  30%,
  70% {
    background-position: 0% 50%;
  }
}
.rotate {
  transform: rotateY(180deg);
}
#loadingScreen {
  opacity: 1;
  transition: opacity 0.9s linear;
}
#loadingScreen.hide {
  opacity: 0;
}
