---
import {Image} from "astro:assets";
import iotcraft from "../images/iotcraft.png";
---
<footer>
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="/" aria-label="logo" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <Image loading="eager" src={iotcraft} alt="IoTcraft Logo" class="size-9"/>
                <span class="self-center whitespace-nowrap text-2xl font-bold text-gray-900 dark:text-white">IoTcraft</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="https://discord.teatech.cz/" target="_blank" rel="noopener noreferrer"
                       class="hover:underline me-4 md:me-6">Discord</a>
                </li>
                <li>
                    <a href="https://modrinth.com/organization/teatech" target="_blank" rel="noopener noreferrer"
                       class="hover:underline me-4 md:me-6">Modrinth</a>
                </li>
                <li>
                    <a href="https://github.com/tea-tech" target="_blank" rel="noopener noreferrer"
                       class="hover:underline">GitHub</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="https://teatech.cz/"
                                                                                              target="_blank"
                                                                                              rel="noopener noreferrer"
                                                                                              class="hover:underline">TeaTech</a>. All Rights Reserved.</span>
    </div>
</footer>
